<nav class="navbar navbar-dark bg-dark woodside-navbar fixed-top">
  <a class="navbar-brand" href="#">
    Welcome to India
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>

<div class="cityPagebody">
  <div class="container">
    <div class="row">
      <div class="col-10 col-lg-8 offset-1 offset-lg-2">
        <div class="row">
            <div class="col-sm-6">
              <div class="card" (click)="agendaPage('Kolkata')" >
                <img class="card-img-top img-fluid" src="../assets/images/kolkata.jpg" alt="Kolkata">
                <div class="card-body">
                  <h4 class="card-title">Kolkata</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" (click)="agendaPage('Delhi')">
                <img class="card-img-top img-fluid" src="../assets/images/delhi.jpg" alt="Delhi">
                <div class="card-body">
                  <h4 class="card-title">Delhi</h4>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="card" (click)="agendaPage('Agra')">
                <img class="card-img-top img-fluid" src="../assets/images/agra.jpg" alt="Agra">
                <div class="card-body">
                  <h4 class="card-title">Agra</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" (click)="agendaPage('Pune')">
                <img class="card-img-top img-fluid" src="../assets/images/pune.jpg" alt="Pune">
                <div class="card-body">
                  <h4 class="card-title">Pune</h4>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>