nav.woodside-navbar{
    background: #d71538; /* Old browsers */
    background: -moz-linear-gradient(left, #d71538 1%, #1a92cf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d71538 1%,#1a92cf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d71538 1%,#1a92cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71538', endColorstr='#1a92cf',GradientType=1 ); /* IE6-9 */

    -webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.75);
}

.cityPagebody{
    height: calc(100vh - 56px);
    top: 56px;
    position: absolute;
    width: 100vw;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    overflow-y: scroll;
}

.cityPagebody ul.nav-tabs li.nav-item{
    width: 20%;
    text-align: center;
}
.cityPagebody ul.nav-tabs li.nav-item a.nav-link div{
    color: #1a92cf;
}
.cityPagebody ul.nav-tabs li.nav-item a.nav-link div.day{
    font-size: 12px;
    line-height: 20px;
}
.cityPagebody ul.nav-tabs li.nav-item a.nav-link div.date{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.cityPagebody ul.nav-tabs li.nav-item a.nav-link{
    border: 1px solid transparent;
    background-color: rgba(255,255,255,0.3)
}
.cityPagebody ul.nav-tabs li.nav-item a.nav-link.active{
   border-bottom: 3px solid #d71538;
   background-color: rgba(255,255,255,0.75);
}
.cityPagebody ul.nav-tabs li.nav-item a.nav-link.active div{
    color: #d71538;
}

.agenda-card{
    background-color: rgba(255,255,255,0.75);
    margin: 15px 0 7.5px 0;
    -webkit-box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.6);
    box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.6);
}

.agenda-card .start-time{
    font-size: 10px;
    color: #285215;
    font-weight: 600;
}

.agenda-card .subject {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: rgb(66, 65, 65);
}

.agenda-card .location {
    font-size: 12px;
    line-height: 16px;
    color: #d71538;
    font-weight: 600;
}

.agenda-card .duration {
    font-size: 10px;
    line-height: 16px;
    font-weight: 600;
    color: rgb(66, 65, 65);
}

.agenda-card .duration::before{
    font-family: FontAwesome;
    content: "\f017";
}

.agenda-card .agenda-details{
    margin: 10px 0;
}
.agenda-card .action{
    text-align: center;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.agenda-card .action i{
    font-size: 24px;
}

.agenda-card .action i.fa-square-o{
    color: #1c90cd;
    font-weight: 600;
    cursor: pointer;
}

.agenda-card .action i.fa-window-close-o{
    color: #d61538;
    pointer-events: none;
}

.agenda-card .action i.fa-check-square-o{
    color: #285215;
    pointer-events: none;
}

.agenda-card .action-container{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.cityPagebody .agenda-calendar{
    border-color: transparent;
}