<nav class="navbar navbar-dark bg-dark woodside-navbar fixed-top">
  <a class="navbar-brand" href="#">
    Welcome to {{cityName}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>

<div class="cityPagebody" [ngStyle]="{'background-image': 'url(' + cityBackground + ')'}">
  <div class="container">
    <ul class="nav nav-tabs agenda-calendar" role="tablist">
      <li class="nav-item" *ngFor="let date of dataArray ; index as i; first as isFirst">
        <a class="nav-link" [attr.id]="'tab_'+date.date" data-toggle="tab" href="#agenda" role="tab" aria-controls="agenda" [attr.aria-selected]="isFirst ? true : false" [ngClass]="{'active': isFirst}">
          <div class="day">{{date.day}}</div>
          <div class="date">{{date.date}}</div>
        </a>
      </li>           
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="agenda" role="tabpanel" aria-labelledby="agenda">
        <div class="card agenda-card" *ngFor="let agenda of agendaList ; index as i; first as isFirst">
          <div class="container-fluid">
            <div class="row">
              <div class="col-10">
                <div class="agenda-details">
                  <div class="start-time">
                    {{agenda.start}}
                  </div>
                  <div class="subject">
                    {{agenda.subject}}
                  </div>
                  <div class="location">
                    {{agenda.location}}
                  </div>
                  <div class="duration">
                    {{agenda.duration}}
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="row action-container">
                  <div class="action">
                      <i class="fa fa-6" aria-hidden="true" [ngClass] = "{'fa-square-o': agenda.statue=='none' , 'fa-check-square-o': agenda.statue=='complete' , 'fa-window-close-o': agenda.statue=='cancel'}" ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>